<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.aigestudio.multiwindows">

    <application
        android:icon="@mipmap/ic_launcher"
        android:label="Nougat"
        android:supportsRtl="true"
        android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen">
        <activity
            android:name="com.aigestudio.multiwindows.TopActivity"
            android:label="Top"
            android:screenOrientation="portrait"
            android:taskAffinity="">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.aigestudio.multiwindows.BottomActivity"
            android:label="Bottom"
            android:screenOrientation="portrait"
            android:taskAffinity="">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SplitActivity"
            android:label="Split"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait"
            android:taskAffinity="">
            <layout
                android:defaultHeight="50dp"
                android:defaultWidth="60dp"
                android:gravity="top|end"
                android:minHeight="500dp"
                android:minWidth="700dp" />
        </activity>
    </application>
</manifest>